body{
    background-color:rgb(153, 102, 204);
    color:gold
}

nav{
    padding: 5px;
    line-height: 30px;
}

footer{
    position:fixed;
    bottom: 0;
    text-align: center;
}

header{
    text-align: center;
}

img{
    width: 200px;
    position: absolute;
    left: 25%;
    right: 25%;
}